System monitor.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "System-Monitor-Digilab",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cpu_temp",
        "type": "exec",
        "z": "flow1",
        "command": "vcgencmd measure_temp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CPU Temperatur",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "cpu_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "cpu_parser",
        "type": "function",
        "z": "flow1",
        "name": "Parse CPU Temp",
        "func": "let tempMatch = msg.payload.match(/temp=(.*?)'/);\nmsg.payload = tempMatch ? 'CPU Temp: ' + tempMatch[1] + ' °C' : 'Fehler';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "debug_cpu"
            ]
        ]
    },
    {
        "id": "debug_cpu",
        "type": "debug",
        "z": "flow1",
        "name": "CPU Temp Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "ram_exec",
        "type": "exec",
        "z": "flow1",
        "command": "free -m | grep Mem",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "RAM Verbrauch",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ram_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "ram_parser",
        "type": "function",
        "z": "flow1",
        "name": "Parse RAM",
        "func": "let parts = msg.payload.trim().split(/\\s+/);\nmsg.payload = 'RAM: ' + parts[2] + ' MB von ' + parts[1] + ' MB genutzt';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "debug_ram"
            ]
        ]
    },
    {
        "id": "debug_ram",
        "type": "debug",
        "z": "flow1",
        "name": "RAM Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "net_exec",
        "type": "exec",
        "z": "flow1",
        "command": "ip a",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "IP Adresse",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ip_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "ip_parser",
        "type": "function",
        "z": "flow1",
        "name": "Parse IP",
        "func": "msg.payload = 'IP Adresse: ' + msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "debug_ip"
            ]
        ]
    },
    {
        "id": "debug_ip",
        "type": "debug",
        "z": "flow1",
        "name": "IP Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "inject_trigger",
        "type": "inject",
        "z": "flow1",
        "name": "Alle 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "cpu_temp",
                "ram_exec",
                "net_exec"
            ]
        ]
    },
    {
        "id": "2c9c65e9fb588bec",
        "type": "rpi-gpio in",
        "z": "flow1",
        "name": "",
        "pin": "19",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "cpu_temp",
                "ram_exec",
                "net_exec"
            ]
        ]
    }
]