System Monitor.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "System-Monitor-Digilab",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cpu_temp",
        "type": "exec",
        "z": "flow1",
        "command": "vcgencmd measure_temp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CPU Temperatur",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "cpu_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "cpu_parser",
        "type": "function",
        "z": "flow1",
        "name": "Parse CPU Temp",
        "func": "let tempMatch = msg.payload.match(/temp=(.*?)'/);\nmsg.payload = tempMatch ? 'CPU Temp: ' + tempMatch[1] + ' °C' : '';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "debug_cpu",
                "0791c3b4d679e50f"
            ]
        ]
    },
    {
        "id": "debug_cpu",
        "type": "debug",
        "z": "flow1",
        "name": "CPU Temp Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "ram_exec",
        "type": "exec",
        "z": "flow1",
        "command": "free -m | grep Mem",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "RAM Verbrauch",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "ram_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "ram_parser",
        "type": "function",
        "z": "flow1",
        "name": "Parse RAM",
        "func": "let parts = msg.payload.trim().split(/\\s+/);\nmsg.payload = 'RAM: ' + parts[2] + ' MB ,  ' + parts[1] + ' MB genutzt';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "debug_ram",
                "cef872f2147213e9"
            ]
        ]
    },
    {
        "id": "debug_ram",
        "type": "debug",
        "z": "flow1",
        "name": "RAM Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "net_exec",
        "type": "exec",
        "z": "flow1",
        "command": "ip a",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "IP Adresse",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ip_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "ip_parser",
        "type": "function",
        "z": "flow1",
        "name": "Parse IP",
        "func": "msg.payload = 'IP: ' + msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "debug_ip",
                "e50e53d556677fd9"
            ]
        ]
    },
    {
        "id": "debug_ip",
        "type": "debug",
        "z": "flow1",
        "name": "IP Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "inject_trigger",
        "type": "inject",
        "z": "flow1",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "cpu_temp",
                "ram_exec",
                "net_exec"
            ]
        ]
    },
    {
        "id": "2c9c65e9fb588bec",
        "type": "rpi-gpio in",
        "z": "flow1",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "cpu_temp",
                "ram_exec",
                "net_exec"
            ]
        ]
    },
    {
        "id": "0791c3b4d679e50f",
        "type": "ui_text",
        "z": "flow1",
        "group": "a66d05dced887b91",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CPU",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "cef872f2147213e9",
        "type": "ui_text",
        "z": "flow1",
        "group": "a66d05dced887b91",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RAM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "e50e53d556677fd9",
        "type": "ui_text",
        "z": "flow1",
        "group": "a66d05dced887b91",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "a66d05dced887b91",
        "type": "ui_group",
        "name": "Standard",
        "tab": "5efa2c2de4f37afb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5efa2c2de4f37afb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]